<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
	
		<p> Üdvözlöm az autoKölcsönzőben!</p>
		<p> Mettől-meddig szeretne foglalni?</p>
		<form action ="/cars" method="get">
		<input type="date" name="start" />
		<input type="date" name="finish"/>
		<input type="submit"/>
		</form>
		
		
		<p>Választható autók erre az időszakra</p>
		<table th:if ="${avaiablecars != null}">
			<tr>
				<th>Típus</th>
				<th>szín</th>
				<th>Ár/nap</th>
				
			</tr>
			
			<tr th:each="car : ${avaiablecars.getAvaibleCars()}" >
				<td th:text= "${car.getType()}"></td>
				<td th:text= "${car.getColor()}"></td>
				<td th:text= "${car.getRentFee()} + 'Ft/nap'"></td>
				<td>
					<form action="/cars/startreserve" method="get">
					
						<input type="hidden" name="start" th:value ="${avaiablecars.getRentStart()}"/>
						<input type="hidden" name="finish" th:value ="${avaiablecars.getRentFinish()}"/>
						<input type="hidden" name="carid" th:value ="${car.getId()}"/>
						<input type = "submit" value ="RESERVE"/>
					</form>
				</td>
			</tr>	
			
			
			
		</table>
		
	
	</body>
</html>